Babel==0.9.6
BeautifulSoup==3.2.1
CDApplet==1.0
CDBashApplet==1.0
Flask==0.8
Flask-MongoAlchemy==0.5.3
Flask-OAuth==0.11
Genshi==0.6
IPy==0.75
Jinja2==2.6
MongoAlchemy==0.11
Paste==1.7.5.1
SSSDConfig==1
Tempita==0.4
Trac==0.12.2
Werkzeug==0.8.3
beautifulsoup4==4.0.5
certifi==0.0.8
chardet==1.0.1
cupshelpers==1.0
decorator==3.3.0
distribute==0.6.24
ethtool==0.7
firstboot==1.110
gps==2.95
heroku==0.1.2
httplib2==0.7.4
iniparse==0.4
ipython==0.12
iwlib==1.0
kitchen==1.0.0
liveusb-creator==3.11.4
lockfile==0.9.1
lxml==2.3.4
matplotlib==1.0.1
mechanize==0.2.5
mercurial==1.9.2
nose==1.0.0
numpy==1.6.1
oauth2==1.5.211
policycoreutils-default-encoding==0.1
pyOpenSSL==0.10
pycryptsetup==0.0.11
pycups==1.9.57
pycurl==7.19.0
pyfits==2.4.0
pygpgme==0.1
pykickstart==1.82
pymongo==2.1.1
python-bugzilla==0.6.1
python-dateutil==1.5
python-meh==0.11
python-nss==0.11
pytz==2010h
pyxdg==0.19
qct==1.7
redis==2.4.11
requests==0.11.1
scdate==1.9.64
scipy==0.9.0
scservices==0.101.3
scservices.dbus==0.101.3
sesearch==1.0
setools==1.0
setroubleshoot-default-encoding==0.1
simplejson==2.1.6
slip==0.2.17
slip.dbus==0.2.17
slip.gtk==0.2.17
spambayes==1.1a6
sunpy==0.1
urlgrabber==3.9.1
virtualenv==1.6.4
wsgiref==0.1.2
