<!doctype html>
<title>One Scribble</title>
<script src="{{ home}}/static/starter-template_files/jquery.js"></script>
{% for scrib in scribbles %}
    {% if scrib.scrib_shot %}
    SCRIB_SHOT: {{scrib.scrib_shot}}
    <a href="{{ home }}/{{ scrib.user_id }}/{{ scrib.mongo_id }}">
        <div style="background-size: 100% auto; background-repeat: no-repeat; background-image: url('{{home}}/{{scrib.user_id}}/captures/{{scrib.scrib_shot}}'); width: 300px; height: 300px">&nbsp;</div>
    </a>
    {% endif %}
{% endfor %}

