<!doctype html>
<title>One Scribble</title>
<script src="{{ home}}/static/starter-template_files/jquery.js"></script>
<style type="text/css">
</style>
{% for scrib in scribbles %}
<div style="float: left; margin-left: 50px;">
    <iframe class="base_frame"></iframe>
    <img style="border: 1px solid black; display: none" class="image_data_ele" src="{{ scrib.image_data }}"/>
    <div class="base_html">{{scrib.base_html }}</div>
    <h1>Marks Points</h1>
    <div>{{scrib.marks_points }}</div>
    <h1>Image Data</h1>
    <div class="orig_width">{{ scrib.original_width }}</div>
</div>
{% endfor %}

<script>

$(document).ready(function() {
    var index = 0;
    var zipped = [];
    $('.base_frame').each(function() {
        zipped.push([$(this)]);
    });
    $('.base_html').each(function(index) {
        zipped[index].push($(this));
    });
    $('.image_data_ele').each(function(index) {
        zipped[index].push($(this));
    });
    $('.orig_width').each(function(index) {
        zipped[index].push($(this).text());
    });
    for(var i=0; i < zipped.length; i++) {
        var zobj = zipped[i];
        inner = $({html: zobj[1]});
        var canvas = zobj[0][0].contentDocument.createElement('canvas');
        var context = canvas.getContext('2d');
        var imageObj = new Image();
        imageObj.onload = function() {
            context.drawImage(this, 0, 0);
        };
        $(zobj[0][0].contentDocument).append(canvas);
        var el = $('body', zobj[0].contents());
        // Build canvas with the image data saved
        console.log($(inner[0]));
        el.html($('<div />', inner).text());
        var factor = 450 / zobj[3];
        el.css({'zoom': factor});
        zobj[0].width('450px');
        frame_offset = zobj[0].offset();
        zobj[0].height('500px');
        //zobj[2].css({position: 'absolute',
        //                    height: el.height(), width: el.width(), zoom: factor});
    }
});
</script>
