<div id="scribble_overlay" style="height: {{page_height}}; width: {{page_width}}">
<style>
.modal {
position: fixed;
top: 10%;
left: 50%;
z-index: 1050;
width: 560px;
margin-left: -280px;
background-color: #ffffff;
border: 1px solid #999;
border: 1px solid rgba(0, 0, 0, 0.3);
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
outline: none;
-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
-webkit-background-clip: padding-box;
-moz-background-clip: padding-box;
background-clip: padding-box;
}

.modal-body {
position: relative;
max-height: 400px;
padding: 15px;
overflow-y: auto;
}
</style>
<script src="{{ home }}/static/starter-template_files/jquery.js"></script>
<div class="modal" id="myModal">
<div class="modal-header">
<a class="close" data-dismiss="modal">×</a>
<h3>Modal header</h3>
</div>
<div class="modal-body">
<textarea id="pin_desc" rows="5" columns="20" ></textarea>
</div>
<div class="modal-footer">
<a href="#" id="pin_close" class="btn">Close</a>
<a href="#" id="pin_save" class="btn btn-primary">Save changes</a>
</div>
</div>
<div >
<canvas id="myCanvas" style="border: 1px solid black;" height="{{ page_height }}" width="{{page_width}}"></canvas>

<div class="modal" id="base_actions" style="margin-left: 350px">
    <div class="modal-body">
        <input id="freehand" type="button" class="btn" value="Freehand">
        <input id="marker" type="button" class="btn" value="Marker">
        <input id="save" type="button" class="btn" value="Save">
    </div>
</div>


</div>
<script src="{{ home }}/static/starter-template_files/bootstrap-transition.js"></script>
<script src="{{ home }}/static/starter-template_files/bootstrap-alert.js"></script>
<script src="{{ home }}/static/starter-template_files/bootstrap-modal.js"></script>
<script src="{{ home }}/static/starter-template_files/bootstrap-dropdown.js"></script>
<script src="{{ home }}/static/starter-template_files/bootstrap-scrollspy.js"></script>
<script src="{{ home }}/static/starter-template_files/bootstrap-tab.js"></script>
<script src="{{ home }}/static/starter-template_files/bootstrap-tooltip.js"></script>
<script src="{{ home }}/static/starter-template_files/bootstrap-popover.js"></script>
<script src="{{ home }}/static/starter-template_files/bootstrap-button.js"></script>
<script src="{{ home }}/static/starter-template_files/bootstrap-collapse.js"></script>
<script src="{{ home }}/static/starter-template_files/bootstrap-carousel.js"></script>
<script src="{{ home }}/static/starter-template_files/bootstrap-typeahead.js"></script>
<script src="{{ home }}/static/starter-template_files/easeljs.js"></script>
</div>
